*{
  font-family: "Almarai" !important;
}
a {
  text-decoration: none;
}
html, body{
  direction: rtl;
  text-align: right;
}
.App {
  text-align: center;
}
.sort-icon{
  -o-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.overview p {
  text-align: right;
  margin-left: auto;
}
.header {
  height: calc(100vh - 64px);
}
.overview button {
  padding-bottom: 30px;
}
.overview button p {
  padding-right: 10px 15px !important;
  text-align: center;
}
.overview h6 {
  float: right;
  width: 100%;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container .MuiGrid-container {
  display: unset !important;
}
.css-4pdmu4-MuiBreadcrumbs-ol {
  float: right;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
}
.css-h93ljk-MuiTypography-root {
  font-weight: 800 !important;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  box-shadow: none !important;
}
.css-1unik2p-MuiGrid-root svg {
  margin: 10px;
}
.css-11lq3yg-MuiGrid-root {
  text-align: right;
}
.css-11lq3yg-MuiGrid-root h4 {
  text-align: right;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #282c34 !important;
}
.css-9mgopn-MuiDivider-root {
  border-color: rgb(85, 83, 83) !important;
}
ul {
  list-style: none;
  text-align: right;
}
.css-1equabv-MuiGrid-root li {
  padding-bottom: 15px !important;
}
.css-1unik2p-MuiGrid-root li {
  padding-bottom: 15px !important;
}
.css-9mgopn-MuiDivider-root button {
  padding: 5px;
  background-color: #717fe0;
  color: #fff;
}
.css-bshv44-MuiButtonBase-root-MuiListItem-root{
  width: 150px !important;
}
.css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root , .css-1p823my-MuiListItem-root , .css-bshv44-MuiButtonBase-root-MuiListItem-root{
  text-align: right !important;
}
.overview .css-11lq3yg-MuiGrid-root {
  padding: 30px;
}

.right {
  float: right !important;
}
/* Image zoom on hover + Overlay colour */
.parent {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.child {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.child a {
min-width: 140px;
  font-size: 15px;
  width: fit-content;
  color: #000 !important;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 50%;
  bottom: -50%;
  right: 0;
  transform: translateX(-50%);
  height: fit-content;
  cursor: pointer;
  transition: all 0.4s;
  /*text-decoration: none;*/
}
.child a:hover {
  cursor: pointer;
  color: #fff !important;
  background-color: #000;
}
.parent:hover .child,
.parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.parent:hover a,
.parent:focus a {
  display: block;
  left: 50%;
  bottom: 15%;
  transform: translateX(-30%, -50%);
  /* animation: toup 0.9s ease; */
}
/* @keyframes toup {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(-10px);
  }
} */

.MuiCardMedia-img {
  overflow: hidden;
}

.modal-product {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  .css-gj1fbr-MuiGrid-root {
    max-width: none !important;
  }
  .css-a5rdam-MuiGrid-root {
    flex-direction: column !important;
  }
}
@media (min-width: 320px) {
  .css-1oqqzyl-MuiContainer-root {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .makeStyles-title-3 {
    display: block;
  }
}
@media (min-width: 600px) {
  .css-1oqqzyl-MuiContainer-root {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .css-8u39c-MuiTypography-root {
    font-weight: bold !important;
  }
}
@media (min-width: 701px) {
  .css-a5rdam-MuiGrid-root {
    flex-direction: row !important;
  }
}
